<style type='text/css'>
	.col-md-12{
		margin-bottom:10px;
	}
	.error{
		color:red;
		text-align:center;
	}
</style>
<div class='col-md-5' style='float:none; margin:auto;'>
	<div class='col-md-12'>
		<h1>Sign In</h1>
	</div>
	<form method='post' action='/login'>
		{% if errors is defined %}
			{% for error in errors %}
			<div class='error'>{{error}}</div>
			{% endfor %}
		{% endif %}
		<div class='col-md-12'>
			<input type='text' class='form-control' name='email' placeholder="Email Address">
		</div>	
		<div class='col-md-12'>
			<input type='password' class='form-control' name='password' placeholder="Password">
		</div>
		<div class='col-md-12'>
			<input type='submit' class='btn btn-block btn-danger btn-lg' value="Sign In">
		</div>		
	</form>
</div>