<br>
<a href="/docs">Back to Docs</a>

<h1>Command Line Interface (CLI)</h1>
<p>
The command line interface will allow you to run scripts related to your application. CLI scripts have access to all models in all modules.
<br><br>
First, cd into the cli directory of your application.<br>
<xmp class='cli'>> cd cli</xmp>
<br>
To see available methods, run the ./cli command.<br >
<xmp class='cli'>> ./cli
      
    _   __          __            
   / | / /__  _____/ /_____ ______
  /  |/ / _ \/ ___/ __/ __ `/ ___/
 / /|  /  __/ /__/ /_/ /_/ / /    
/_/ |_/\___/\___/\__/\__,_/_/     
                                
CLI Command Line Interface for Nectar 
To run a command, type './cli [commandName]' then hit Enter


Available Commands: 
generateModule [name] - Generate a skeleton module
testCLI - Test the CLI
</xmp>
<br>
To run a command, use the command with the ./cli command.<br>
<xmp class='cli'>> ./cli testCLI


 CLI WORKS!!! </xmp>
<br>

If you received an error when you ran ./cli, you may need to set the cli file to be executable.<br>
<xmp class='cli'>> chmod +x cli</xmp>

</p>

<br>