
<div class='container'>
<h1>Documentation</h1>


<h2>Get Nectar, it's sweet!</h2>
<a href="https://github.com/jamstarter/nectarmvc/archive/master.zip"><input type='button' class='btn btn-danger btn-lg' value='Download Latest'></a>

<br><br>
To get started, download the latest version of Nectar and upload it to your web server. The location doesn't matter, but for the purposes of this documentation, we're going to assume you upload it to /var/www/nectar.
<br>
<h2>Table of Contents</h2>
<ul>
  <li><a href="/docs/directory">Nectar Directory Structure</a></li>
  <li><a href="/docs/server">Configure Apache</a></li>
  <li><a href="/docs/application-ini">What is application.ini?</a></li>
  <li><a href="/docs/database">Configure Your Database</a></li>
  <li><a href="/docs/environment">Configure Your Environments</a></li>
  <li><a href="/docs/helpers">Helpers,Variables & Views</a></li>
  <li><a href="/docs/cli">Command Line Interface (CLI)</a></li>
  <li><a href="/docs/generate-module">Generating a Module with the CLI</a></li>
  <li><a href="/docs/routes">How to Use Routes</a></li>
  <li><a href="/docs/first-module">Build Your First Module</a></li>
</ul>
<br>



</div>