@import url(http://fonts.googleapis.com/css?family=Satisfy);
@import url(http://fonts.googleapis.com/css?family=Arimo);
html,body{
font-family: 'Arimo', sans-serif;
background:#fff;
}
.btn{
	border:0;
	border-radius:0;
}

img{
	max-width:100%;
}

.header{

	background:orange;
}

.logo{
	max-height:50px;
	position:relative;
	top:-15px;
}
a:hover{
	text-decoration:none;
}

.header .text{
	padding:40px;
}
.header h1{
	margin:0;
	padding:0;
	color:#fff;
	font-size:70px;
	font-family: 'Satisfy', cursive;
}

.header h4{
	color:#fff;
	margin:0;
	padding:0;
	font-weight:100;

}

h2{
	color:orange;
}

h3{
	color:#2a2a2a;
}

.cli{
	padding:10px;
	background:#000;
	color:#fff;
	border-radius:10px;
}

.navbar-inverse{
	background:#011a2e;
	padding:10px;
	border-radius:0;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{
	background:none;
}