@import url(http://fonts.googleapis.com/css?family=Satisfy);
@import url(http://fonts.googleapis.com/css?family=Arimo);
html,body{
font-family: 'Arimo', sans-serif;
background:#fff;
}
.btn{
	border:0;
	border-radius:0;
}

.header{

	background:orange;
}
a:hover{
	text-decoration:none;
}

.header .text{
	padding:40px;
}
.header h1{
	margin:0;
	padding:0;
	color:#fff;
	font-size:70px;
	font-family: 'Satisfy', cursive;
}

.header h4{
	color:#fff;
	margin:0;
	padding:0;
	font-weight:100;

}

h2{
	color:orange;
}

h3{
	color:#2a2a2a;
}