<div class="jumbotron" style='background:#fff; color:#2a2a2a; border:1px solid #e2e2e2; box-shadow:2px 2px 2px #bbb;'>
      <div class="container">
        <h1 style='padding:0; margin:0;'><img src="/images/nectar_logo.png"></h1>
        <p>Nectar is a modular MVC framework for PHP. It combines commonly used components such as Twig and Doctrine2 with many principles and paradigms found in other frameworks such as Zend, Symfony, Rails, and Django.</p>

      </div>
    </div>


<div style='text-align:center;'>
  <img src="/images/nectar.jpg">
</div>

<h1>Why use Nectar?</h1>
The purpose of creating Nectar was to lower the barriers to entry common to almost all modern-day frameworks. The idea is that you upload the files to your server, configure a couple of settings (database, api keys, etc) and then start programming. Focus only on your application's code and let the framework step out of the way. In addition, the modular nature of the framework allows you to reuse code again and again so you can share your code with other projects and so you're not wasting time re-writing the same code for each project you work on. 

<h1>Learn Nectar</h1>
You can learn how to use Nectar by taking a look at our documentation.<br><br>

<a href="/docs"><input type='button' class='btn btn-lg btn-danger' value='Read Nectar Documentation'></a>


<br><br><br><br><br><br>