<style type='text/css'>
	.module{
	background:#f1f1f1;
	border:1px solid #bbb;
	margin-bottom:10px;
	padding:20px;
	}
</style>
<h1>Modules</h1>
Modules are bundles of code you can drop into Nectar to instantaly add functionality to your application.
<br>
<br><br><br>
<div class='module col-md-12'>
	<div class='col-md-8'>
		<h3 style='margin:0; padding:0;'>UserAuth Module</h3>
		<p>Basic user registration and login</p>
	</div>
	<div class='col-md-4'>
		<a href="/samples/userauth.zip"><input type='button' class='btn btn-danger btn-lg' value="Download (.zip)"></a>
	</div>
</div>

