<!DOCTYPE html>
<head>

<title>Nectar : Modular MVC Framework for PHP</title>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<link href="/css/global.css" rel='stylesheet'>

</head>
<body>
<div class='header'>
	<div class='container'>
		<a href="/">
		<div class="text">
			<h1>Nectar</h1>
			<h4>Modular MVC Framework</h4>
		</div>
		</a>
	</div>
</div>
<div class='main_content container'>
	{{content|raw}}
</div>

</body>
</html>